<!DOCTYPE HTML>
<html>
<head>
    <title>Truexin's LeanCloud testing-project</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>app-web</h1>
<p>这是的示例应用</p>
<p>当前时间：<%= currentTime %></p>
<p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
</body>
</html>
