<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/dog.ico">
    <title>Truexin's LeanCloud testing-project</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>app ---- web</h1>
<p>truexin's app</p>
<p>当前时间：<%= currentTime %></p>
<!--<p><a href="/todos">「TODO 列表」</a></p>-->
<!--<p><a href="/lists">「LIST 列表」</a></p>-->
<!--<p><a href="/register">注册页面</a></p>-->
<p><a href="/login">登录页面</a></p>
</body>
</html>
