<!DOCTYPE HTML>
<html>
<head>
    <title>List</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1><%= title %></h1>
<br>
<a href="/todos">跳转到TODO列表页面</a>
<br>
<form action="/lists" method="POST">
    <input type="text" name="content"/>
    <input type="submit" value="新增"/>
</form>
<ul>
    <% for(var i = 0; i < lists.length; i++) { %>
    <li>
        <%= lists[i].get('content') %>
        <form action="/delete" method="POST" class="inline-form">
            <input type="text" name="objectId" hidden value=<%= lists[i].get('objectId') %>/>
            <input type="submit" value="删除"/>
        </form>
    </li>
    <% } %>

    <form action="/logout" method="POST">
        <input type="submit" value="退出"/>
    </form>
</ul>
</body>
</html>
