<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>登录</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1><%= title %></h1>
<form action="/login" method="POST" class="login-form">
    账号名称：<input type="text" name="name" placeholder="请输入姓名"/>
    <br>
    <br>
    登录密码：<input type="password" name="password" placeholder="请输入密码"/>
    <br>
    <br>
    <input type="submit" value=<%= btnTxt %> />
    <br>
    <br>
    <a href="/register">还没有账号？去注册</a>
</form>
</body>
</html>
