<!DOCTYPE HTML>
<html>
<head>
    <title>List</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<h1>注册</h1>
<form action="/register" method="POST" class="register-form">
    <input type="text" name="name"/>
    <input type="text" name="email"/>
    <input type="text" name="phone"/>
    <input type="password" name="password"/>
    <input type="submit" value="注册"/>
</form>
</body>
</html>
